@media screen and (min-width: 926px) {
  .row {
    margin: 2rem 2rem 0 2rem;
  }

  .row>*:nth-child(n+2) {
    margin-left: 2rem;
  }

  .projects-nav {
    width: 17.25rem;
  }

    .project-thumb {
      width: 12rem;
      height: 9rem;
    }

  .project-display {
    padding-right: calc(100vw - 17.25rem - 2rem * 3 - 3px * 4);
  }
}
