@import './thimble.css';

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('/fonts/MPLUSRounded1c-Regular.ttf');
}

html {
  --thimble-blue: #2266a7;
  --thimble-orange: #f15a3b;
  --purple: #93e;
  --green: lightSeaGreen;
  --yellow: #e5bb14;
  --near-black: #404040;
  --near-white: #eee;
  --text-color: var(--near-black);
  --base-font: Verdana, Geneva, sans-serif;
  --heading-font: 'M PLUS Rounded 1c', var(--base-font);
  --gap: 1.5rem;
  --pad: 1rem;
  --pad-text: calc(.75 * var(--pad)) var(--pad) calc(.825 * var(--pad));
  --less-multiplier: .8;
  --pad-text-less: calc(var(--less-multiplier) * .8 * var(--pad))
                    calc(var(--less-multiplier) * var(--pad))
                    calc(var(--less-multiplier) * .85 * var(--pad));
  --less-line-ht: 1.01;
}

body {
  font-family: var(--base-font);
  hyphens: manual;
  color: var(--text-color);
}
/* override thimble styles */
p {
  margin-bottom: 0;
}
::selection {
  background-color: var(--purple);
}
/* layout stuff */
.container {
  position: relative;
  margin: 0 auto 0;
}
.section {
  margin-bottom: var(--gap);
}
.panel {
  padding: var(--pad-text);
}
.border {
  box-shadow: 0 0 0 2px var(--green);
  outline: 1px solid var(--yellow);
  border: 1px solid var(--purple);
  border-radius: 1px;
}
.callout {
  padding: var(--pad-text-less);
}
.backdrop {
  border-radius: 1px;
  background-color: var(--near-white);
}
.panel-heading {
  margin-top: calc(-.7 * var(--pad));
  margin-bottom: calc(.25 * var(--pad));
  font-family: var(--heading-font);
  font-size: 2rem;
}

/* utility classes */
.height-100 {
  height: 100%;
}

/* component styles */
  .contact-info {
    border-radius: 2px;
    font-style: italic;
    font-family: var(--heading-font);
  }
  .contact-info ul {
    margin: 0;
    padding: 0;
  }
  .contact-info li {
    list-style-type: none;
  }
  .about-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
    .about-text {
    }
    .projects-list {
      margin: 0;
    }
      .projects-li {
        margin-bottom: var(--pad);
        list-style-type: none;
      }
      .projects-li:last-child {
        margin-bottom: calc(0.5 * var(--pad));
      }
        .project-btn {
          display: block;
          width: 100%;
          /* height: 12rem; */
          padding: var(--pad);
          line-height: var(--less-line-ht);
          transition: background-color .05s linear;
        }
        .project-btn:hover {
          background-color: #dededf;
          transition: all .03s linear;
        }
          .project-btn:hover>.project-thumb {
            opacity: 1;
            border: 1px solid var(--green);
            transition: all .03s linear;
          }
          .project-thumb {
            opacity: .825;
            width: 100%;
            height: 100%;
            border: 1px solid #d0d0d0;
            transition: background-color .05s linear;
          }
.project-display {
  padding-top: var(--pad); padding-bottom: var(--pad);
  padding-left: calc(var(--pad) / var(--less-multiplier)); padding-right: calc(var(--pad) / var(--less-multiplier));
  line-height: var(--less-line-ht);
}
.project-display.empty-display {
  width: 0;
  height: 0;
}
.project-display :nth-child(n-1) {
  margin-bottom: .75rem;
}
  .project-heading {
      margin-bottom: calc(var(--pad) / var(--less-multiplier));
      font-size: 1.65rem;
      line-height: 1.2;
      font-family: var(--heading-font);
    }

.resume-link {
  margin-top: .25rem;
  margin-bottom: .35rem;
  padding-left: .75rem; padding-right: .75rem;
  text-align: right;
  font-size: 1rem;
  line-height: normal;
}

.resume-link>a::after {
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  width: 12px; height: 18px;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" height="18" width="12"><polygon points="4 3, 11 9, 4 15" fill="%232266a7"/></svg>');
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.resume-link>a:hover::after {
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" height="18" width="12"><polygon points="4 3, 11 9, 4 15" fill="%23f15a3b"/></svg>');
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 64.0625rem) {
  .container {
    max-width: 64rem;
  }
}
