@media screen and (max-width: 925px) {
  .border {
    width: calc(100vw - 2rem)
  }

  .row {
    margin: 1rem 1rem 0 1rem;
  }

  .row>*:nth-last-child(n+2) {
    margin-bottom: 1rem;
  }

  .info>.contact-panel {
    flex-grow: 1;
  }

  .projects-nav {
    flex-grow: 1;
  }

    .list-wrapper {
      overflow: scroll;
    }

      .slide-track {
        width: max-content;
      }

        .projects-li:nth-last-child(n+2) {
          margin-right: .6rem;
        }

          .project-thumb {
            width: 8rem;
            height: 6rem;
          }

  .project-display {
    padding-right: calc(100vw - 2rem);
  }
}
