<div class="contact">
    <h1>{{ contact_heading | upper }}</h1>
    <div class="grid">
        <div class="cell six">
            <form></form>
        </div>
        <div class="cell six">
            <h3>{{ name | upper }}</h3>
            <h3>{{ tag | upper }}</h3>
            <h3>{{ email | upper }}</h3>
        </div>
    </div>
</div>