<nav class="nav">
    <div class="grid justify-center">
        <div class="six">
            <ul class="grid justify-space text-center">
                {% for display, link in nav_items %}
                <li class="cell"><a href="{{ link }}">{{ display | upper }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>