<div class="projects">
    <h1 class="text-center projects__projects-heading">{{ projects_heading | upper}}</h1>
    <div class="grid">
        {% for project in projects %}
        <button
            type="button"
            onClick="return handleClick(event)"
            class="cell collapse collapse-padding six text-center un-btn projects__card"
            style="background-image:url('./assets/{{ project.img }}_trans.png');"
        >
            <div class="projects__details">
                <h2 class="six margin-auto projects__project-name">{{ project.name | upper }}</h2>
                <h2 class="projects__project-description">{{ project.description }}</h2>
                <h4 class="projects__project-stack">{{ project.stack | upper }}</h4>
            </div>
        </button>
        {% endfor %}
        <div id="projectModal" class="projects__modal"></div>
    </div>
</div>