<div class="projects">
    <h1 class="text-center projects__projects-heading">{{ projects_heading | upper}}</h1>
    <div class="grid">
    {% for project in projects %}
        <div class="cell six text-center projects__project-card">
            <h2 class="six margin-auto projects__project-name">{{ project.name | upper }}</h2>
            <h2 class="projects__project-description">{{ project.description }}</h2>
            <h4 class="projects__project-stack">{{ project.stack | upper }}</h4>
        </div>
    {% endfor %}
    </div>
</div>