<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="icon" type="image/x-icon" href="{{ icon }}">
        <link rel="stylesheet" href="{{ stylesheet }}">
    </head>
    <body>
        {% include "hero.njk" %}
    </body>
</html>