body {
    --blue: #0072bc;
    --pale-blue: #c7d6ee;
    --cyan: #01BAEF;
    --blue-green: #58c5cc;
    --near-black: #202020;
    --grey-3: #434345;
    --grey-2: #666;
    --grey-1: #ededee;

    --focus-color: var(--cyan);
}