.contact {
    padding: 3.625rem 0 3.75rem;
    background-color: var(--blue);
    color: white;
}

.contact__heading {
    margin-bottom: 3.75rem;
}

.contact__form, .contact__details {
    padding-left: 2rem; padding-right: 2rem;
}

.contact__form .form-control, .contact__form button {
    text-transform: uppercase;
}

.contact__form-button {
    display: block;
    margin-top: .75rem;
    margin-left: auto;
    background-color: var(--grey-3);
    color: white;
}

.contact__details {
    padding-top: 3rem; padding-bottom: 3rem;
}

.contact__details>:nth-child(n) {
    margin-bottom: 2.25rem;
}