.hero {
    height: 100vh;
    background-image: url('../assets/img/web-header.jpg');
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position: center center;
}

@media only screen and (min-width: 768px) {
    .hero {
        width: 100%;
        background-size: 100vw auto;
    }
}