@import './thimble.css';
@import './color.css';
@import './type.css';

@import './contact.css';
@import './hero.css';
@import './nav.css';
@import './projects.css';
@import './splash.css';

body {
    margin: 0;
}

::selection {
    background-color: var(--blue-green)!important;
}

.margin-auto {
    margin-left: auto; margin-right: auto;
}

.form-control {
    display: block;
    margin-bottom: .35rem;
    box-shadow: none;
    border: none;
    padding: .5rem;
    line-height: 1.1;
    -webkit-appearance: none;
}