.projects {
    padding: 3.25rem 0;
    background-color: var(--blue-green);
}

.projects__projects-heading {
    margin-bottom: 3.25rem;
}

.projects__project-card {
    padding: 4rem 0;
    color: white;
}

.projects__project-card>:nth-child(n+1):not(:last-child) {
    margin-bottom: .85rem;
}

.projects__project-name {
    border: 1px solid white;
}

.projects__project-description {
    font-family: "Baskerville";
    font-style: italic;
}