.projects {
    --project-img-pad: 1rem;
    --modal-nav-pos: calc(var(--project-img-pad) * 1.5);
}

.projects__projects-heading {
    padding: 3.625rem 0 3.75rem;
    background-color: var(--blue-green);
}

.projects__modal {
    display: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    padding: var(--project-img-pad);
    text-align: center;
}

.projects__modal-nav-container {
    position: absolute;
    top: var(--modal-nav-pos); right: var(--modal-nav-pos);
}

.projects__modal .close-btn {
    background-color: #ededeebb;
}

.projects__full-img {
    box-shadow: 1px 2px 6px 1px #20202066;
    width: 100%;
}

.projects__card {
    display: block;
    position: relative;
    background-position: center;
    background-size: auto 100%;
    background-color: black;
    color: white;
    transition: background-size .05s linear;
}

.projects__details {
    padding: 20% 0;
    background-color: transparent;
    transition: all .075s linear;
    opacity: 0;
}

.projects__details:hover {
    background-color: #00000079;
    opacity: 1;
    transition: all .15s linear;
}

.projects__details>:nth-child(n+1):not(:last-child) {
    margin-bottom: .85rem;
}

.projects__name {
    border: 1px solid white;
}

.projects__description {
    font-family: "Baskerville";
    font-style: italic;
}