---
name: Colin King-Bailey
title: Software Developer

contact:
    email: ckingbailey@gmail.com
    github: github.com/ckingbailey
    linkedin: linkedin.com/in/ckingbailey

skills:
    frontend:
        - JavaScript (ES2015+)
        - React + JSX
        - Jekyll
        - D3
        - JQuery
        - CSS3
        - Sass
        - HTML
    backend:
        - Node
        - Express
        - Mongoose/MongoDB
        - PHP 7
        - Symfony
        - MySQL
        - AWS
        - GCP

experience:
    - company: Freelance
      position: Software Developer
      start_date: 2019
      end_date: present
      tasks:
        - Develop web application for government and private business customers
        - Build custom apps from the ground up, and add new features to existing codebases
    - company: CoProcure
      position: Software Engineering Intern
      date: Summer 2019
      tasks:
        - Automate data ingestion from diverse government website scrapers
        - Design and implement human data entry workflow for management of data entry contractors
        - Write end-to-end tests with Mocha, Chai, Puppeteer
    - company: VTA/BART
      position: Senior Web Developer, Contract
      start_date: March 2018
      end_date: present
      tasks:
        - Expose critical construction deficiencies with a portable web interface and database tracking completion work on BART extension to San Jose
        - Engage 2x more field contractors by making app mobile-responsive
        - Cut time to complete interaction by a third with interacive JavaScript Components
        - Thwart hackers by auditing and fixing SQL and authentication vulnerabilities

projects:
    - name: OUSD Kinder Transitions App
      tech:
        - Google Apps Script
      short_description: Kinder promotion automation
      long_description: In collaboration with OUSD Data Fellow, created automated workflow to track and transfer information about students promoted from pre-k to kinder program
    - name: Confidential Finance App
      tech:
        - React
        - Express
        - MySQL
      short_description: Equity recommendations and fund analytics
      long_description: Built MERN stack app with remote partner using customer's stock analysis algorithm

education:
    - institution: San Jose State University
      degree: BFA, Pictorial Art

extra:
    - event: OpenOakland
      activity: Hack Night Lead
    - event: CA Water Data Hackathon 2018
      activity: Winner, Collaboration and Team Spirit Award
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CKB Resume</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @font-face {
            font-family: 'M PLUS Rounded 1c';
            src: url('/fonts/MPLUSRounded1c-Regular.ttf');
        }

        html, body {
            --purple: #93e;
            --thimble-blue: #2266a7;
            --dark-blue: #0c4099;
            /* --lt-blue: #69d; */
            --thimble-orange: #f15a3b;
            --near-black: #333;
            --dark-grey: #6f6f6f;
            --mid-grey: #999;
            --lt-grey: #ccc;
            --barely-grey: #f6f6f6;
            --base-font: Verdana, Geneva, sans-serif;
            --heading-font: 'M PLUS Rounded 1c', var(--base-font);
            margin: 0;
            padding: 0;
            background-color: var(--barely-grey);
            font-size: 16px;
            font-family: var(--base-font);
            color: var(--near-black);
        }
        h1, h2, h3, h4, h5, h6, address, p {
            margin-top: 0;
            margin-bottom: 0;
        }
        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
            font-family: var(--heading-font);
        }
        ul {
            margin: 0;
            padding-left: 1.25rem;
            list-style-type: none;
        }
        li::before {
            content: '';
            display: inline-block;
            margin-left: calc(-1 * (6px + .45rem));
            margin-right: .45rem;
            width: 6px; height: 10px;
            background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="6" height="10"><polygon points="0 2, 6 5, 0 8" fill="%23333"/></svg>');
            background-repeat: no-repeat;
        }
        a {
            text-decoration: none;
            /* color: #249; */
            color: var(--thimble-blue);
            border-color: var(--thimble-blue);
            transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        }
        a:visited {
            color: var(--dark-blue);
        }
        a:hover {
            color: var(--thimble-orange);
        }
        address {
            font-style: normal;
        }
        ::selection {
            background-color: var(--purple);
            color: white;
        }
        .main-content {
            margin: 0 auto;
            max-width: 8.5in;
            min-height: 100vh;
            background-color: white;
        }
        .resume {
            padding: 1rem .5rem;
        }
        .header, .content-section__content {
            padding-left: .65rem; padding-right: .65rem;
        }
        .header,
        .content-section__content:last-child,
        .content-section__section-heading {
            margin-bottom: 0.5rem;
        }
        .personal-information__title, .content-section__sub-title {
            color: var(--dark-grey);
        }
        .personal-information__title {
            font-size: 1.15rem;
        }
        .personal-information__contact-info-link {
            display: block;
        }
        .content-section {
            text-align: left;
        }
        .content-section__section-heading {
            padding-top: .3rem; padding-bottom: .35rem;
            padding-left: 20px; padding-right: .65rem;
            background-color: var(--lt-grey);
            /* background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" height="50" width="15"><polygon points="0 0, 15 0, 0 50" fill="white" /></svg>'); */
            background-image: linear-gradient(-75deg, var(--lt-grey) 0%, var(--lt-grey) 50%, white 50%, white 100%);
            background-origin: border-box;
            background-position: 0 0;
            background-size: 20px 102%;
            background-repeat: no-repeat;
            text-align: left;
            font-size: 1.15rem;
            line-height: 1.2;
            color: var(--near-black);
        }
        .content-section__content, .content-section__sub-title, .personal-information__contact-info {
            font-size: .9rem;
        }
        .content-section__sub-title {
            font-family: var(--base-font);
        }
        .personal-information__contact-info,
        .content-section__topic {
            padding-left: .325rem;
        }
        .content-section__topic-heading {
            font-size: .9rem;
            font-family: var(--heading-font);
        }
        .text-grey {
            color: var(--dark-grey);
        }
        @media screen and (min-width: 768px), print {
            ul {
                padding-left: 2.15rem;
            }
            .resume {
                padding: .5in;
            }
            .personal-information, .personal-information__contact-info {
                margin-left: auto; margin-right: auto;
                width: fit-content;
                text-align: center;
            }
            .personal-information__name, .personal-information__title {
                display: inline;
            }
            .personal-information__contact-info-link {
                display: inline;
            }
            .personal-information__contact-info-link:not(:last-child)::after {
                content: '';
                display: inline-block;
                margin-left: .25rem;
                width: 10px;
                height: 10px;
                background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="10" height="10"><polygon points="3 3, 7 3, 7 7, 3 7" fill="none" stroke-width="1" stroke="%23333" /></svg>');
            }
        }
        @media print {
            .resume {
                padding: 0;
            }
            a {
                color: var(--dark-blue);
            }
        }
    </style>
</head>
<body>
    <main class="main-content">
        <div id="resume" class="resume">
            <header class="header">
                <div class="personal-information">
                    <h1 id="name" class="personal-information__name">{{ name }}</h1>
                    <h3 id="title" class="personal-information__title">{{ title }}</h3>
                </div>
                <address id="contact_information" class="personal-information__contact-info">
                    <a href="mailto:ckingbailey@gmail.com" class="personal-information__contact-info-link">{{ contact.email }}</a>
                    <a href="https://github.com/ckingbailey" class="personal-information__contact-info-link">{{ contact.github }}</a>
                    <a href="https://www.linkedin.com/in/ckingbailey" class="personal-information__contact-info-link">{{ contact.linkedin }}</a>
                </address>
            </header>
            <section id="skills" class="content-section">
                <h3 class="content-section__section-heading">Skills</h3>
                <div class="content-section__content">
                    <p class="content-section__topic">
                        <span class="content-section__topic-heading">Front end:</span>
                        {% set comma = joiner() %}
                        {% for skill in skills.frontend -%}
                            {{ comma() }} {{ skill }}
                        {%- endfor %}
                    </p>
                </div>
                <div class="content-section__content">
                    <p class="content-section__topic">
                        <span class="content-section__topic-heading">Back end:</span>
                        {% set comma = joiner() %}
                        {% for skill in skills.backend -%}
                            {{ comma() }} {{ skill }}
                        {%- endfor %}
                    </p>
                </div>
            </section>
            <section id="experience" class="content-section">
                <h3 class="content-section__section-heading">Experience</h3>
                {% for exp in experience -%}
                <div class="content-section__content">
                    <div class="content-section__topic">
                        <span class="content-section__topic-heading">{{ exp.company }}</span>
                        <span>&bull; {{ exp.position }}</span>
                        <h5 class="content-section__sub-title">
                        {% if exp.start_date -%}
                            {{ exp.start_date }} - {{ exp.end_date if exp.end_date else "present" }}
                        {%- endif %}
                        </h5>
                    </div>
                    <ul>
                        {% for task in exp.tasks -%}
                        <li>{{ task }}</li>
                        {%- endfor %}
                    </ul>
                </div>
                {%- endfor %}
            </section>
            <section id="projects" class="content-section">
                <h3 class="content-section__section-heading">Projects</h3>
                {% for proj in projects -%}
                <div class="content-section__content">
                    <p class="content-section__topic">
                        <span class="content-section__topic-heading">{{ proj.name }}</span>
                        {% set comma = joiner() %}
                        <span>&bull; {% for tech in proj.tech -%}{{ comma() }} {{ tech }}{%- endfor %}</span>
                    </p>
                    <div class="content-section__content">
                        <h5 class="content-section__sub-title">{{ proj.short_description }}</h5>
                        <p>{{ proj.long_description }}</p>
                    </div>
                </div>
                {%- endfor %}
            </section>
            <section id="education" class="content-section">
                <h3 class="content-section__section-heading">Education</h3>
                <div class="content-section__content">
                    {% for ed in education -%}
                    <p class="content-section__topic">
                        <span class="content-section__topic-heading">{{ ed.degree }}</span> &bull; {{ ed.institution}}
                    </p>
                    {%- endfor %}
                </div>
            </section>
            <section id="interests" class="content-section">
                <h3 class="content-section__section-heading">Awards and Volunteer Work</h3>
                {% for ex in extra -%}
                <div class="content-section__content">
                    <p class="content-section__topic">
                        <span class="content-section__topic-heading">{{ ex.activity }}</span> &bull; {{ ex.event }}
                    </p>
                </div>
                {%- endfor %}
            </section>
        </div>
    </main>
</body>
</html>